div {

border: 2px;  
width: 900px;
height: 350px;
border-style: solid;
}

span {

background-color: aquamarine;
float: right;
height: 70px;
width: 320px;
}

#footer{
   
position: fixed;
bottom: 3px;
height: 150px;
width: 900px;
border: 2px;  
border-style: solid; 
display: grid;
grid-template-columns: 150px 150px 150px 150px 150px; 
grid-auto-rows: 150px;
grid-gap: 10px;

}

#deleteBtn {
    position: absolute;
    bottom: 180px;
    left: 100px;
}

#star {


width: 150px;
height: 150px;
background-color: red;
grid-column: 1 ;
grid-row: 1;
}

#smiley {


width: 150px;
height: 150px;
background-color: yellow;
grid-column: 2 ;
grid-row: 1;
}

#bubbles {

width: 150px;
height: 150px;
background-color: blue;
grid-column: 3 ;
grid-row: 1;

}

#star {

width: 150px;
height: 150px;
background-color: violet;
grid-column: 4 ;
grid-row: 1;
}


