body{
    background-color: #00264d;
    display: grid;
    grid-template-columns: 70% auto;
    grid-template-rows: auto auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    
}

canvas{
    background-color: #000000;
    grid-template-columns: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    border: solid #ffffff;
    cursor: pointer;  
}
canvas:hover{    
    border:solid #c8e90c;
    cursor: crosshair;
}

form{

grid-column: 2;
background-color: #d5e1e8;
padding: 1em;
}

fieldset{
margin: 0.5em;
padding: 0.7em;
/* border-style: none; */
}

div{    
grid-column: 2;
background-color: #d5e1e8;
padding: 1em;
}


meter::-webkit-meter-bar {
background: rgb(255, 255, 255);
    }

meter::-webkit-meter-optimum-value {
background: linear-gradient(#c8e90c, #c8e90c);
}

meter{
    height: 20px;
}

#particlecolor{
width: 100px;
height: 50px;
cursor: pointer; 
}

input:focus{    
    background-color: #c8e90c;
    font-style: italic;
    font-size: 15px;
    
}

input{
    border-radius: 4px;
    cursor: pointer;
}

select{
 cursor: pointer;   
 border-radius: 4px;
}

select:focus{
    font-size: 20px;  
}

button{
    border-radius: 4px;
    height: 20px;
    cursor: pointer;
    }

button:hover{
    color: #e90000;
    background-color: #c8e90c;
    }


#nasalogo{
    position: relative;
    grid-column: 2;
    grid-row: 3;
    margin: 10%;

}

#fireworkrockets{
    position: relative;
    grid-column: 1;
    grid-row: 3; 
}
#nasalogo:hover{
    height: 60%;
}

